
 <!--experience start -->
 <section id="experience" class="experience">
  <div class="section-heading text-center">
    <h2>experience</h2>
  </div>
  <div class="container">
    <div class="experience-content">
        <div class="main-timeline">
          <ul *ngFor="let job of experiencia.item">
            <li>
              <div class="single-timeline-box fix">
                <div class="row">
                  <div class="col-md-5">
                    <div class="experience-time text-right">
                      <h2>{{job.anio}} </h2>
                      <h3> {{job.titulo1}} </h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-offset-1 col-md-5">
                    <div class="timeline">
                      <div class="timeline-content">
                        <h4 class="title">
                          <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                          {{job.LugarTrabajo}}
                        </h4>
                        <h5>{{job.ciudad}}</h5>
                        <p class="description">
                          {{job.descripcion}}
                        </p>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                </div>
              </div><!--/.single-timeline-box-->
            </li>
            <li>
              <div class="single-timeline-box fix">
                <div class="row">
                  <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                    <div class="experience-time">
                      <h2>
                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        {{job.anio1}}
                      </h2>
                      <h3>{{job.titulo2}}</h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                  <div class="col-md-5">
                    <div class="timeline">
                      <div class="timeline-content text-right">
                        <h4 class="title">
                          {{job.LugarTrabajo1}}
                        </h4>
                        <h5>{{job.ciudad1}}</h5>
                        <p class="description">
                          {{job.descripcion1}}
                        </p>
                      </div><!--/.timeline-content-->
                    </div><!--/.timeline-->
                  </div><!--/.col-->
                  <div class="col-md-offset-1 col-md-5 experience-time-main">
                    <div class="experience-time">
                      <h2>
                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                        {{job.anio1}}
                      </h2>
                      <h3>{{job.titulo2}}
                        
                      </h3>
                    </div><!--/.experience-time-->
                  </div><!--/.col-->
                </div>
              </div><!--/.single-timeline-box-->
            </li>         

          </ul>
        </div><!--.main-timeline-->
      </div><!--.experience-content-->
  </div>

</section><!--/.experience-->