<section id="skills" class="skills">
  <div class="skill-content">
    <div class="section-heading text-center">
      <h2>Skills</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single-skill-content">
            <div *ngFor="let liz of Skills.item" class="barWrapper">
              <span class="progressText">{{liz.title}}</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style=""> 
                  </div>
                </div>
                <h3>{{liz.porcentaje}}</h3>	
              </div>
            </div><!-- /.barWrapper -->      
          </div>
        </div>   
        <div class="col-md-6">
          <div class="single-skill-content">
            <div *ngFor="let liz1 of Skills.item2" class="barWrapper">
              <span class="progressText">{{liz1.title}}</span>
              <div class="single-progress-txt">
                <div class="progress ">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="10" aria-valuemax="100" style="">
                  </div>
                </div>
                <h3>{{liz1.porcentaje}}</h3>	
              </div>
            </div><!-- /.barWrapper -->      
          </div>
        </div>     
      </div><!-- /.row -->
    </div>	<!-- /.container -->		
  </div><!-- /.skill-content-->

</section><!--/.skills-->
<!--skills end -->