
<section id="portfolio" class="portfolio">
  <div class="portfolio-details">
    <div class="section-heading text-center">
      <h2>portfolio</h2>
    </div>
    <div class="container">
      <div class="portfolio-content">
        <div class="isotope">
          <div class="row">
            <div  class="liz">	
            <div  class="col-sm-6">
              <div *ngFor="let liz of Portfolio.item" class="item">
                <img src="{{liz.imgsrc}}" alt="portfolio image"/>
                <div class="isotope-overlay">
                  <a [routerLink]="['../Home',{outlets:{liz:liz.route}}]" >
                    {{liz.title}}
                  </a>
                </div><!-- /.isotope-overlay -->
              </div><!-- /.item -->
              
            </div><!-- /.col -->
            <div  class="col-sm-6">
                <div *ngFor="let liz2 of Portfolio.item2" class="item">
                  
                  <img src="{{liz2.imgsrc}}" alt="portfolio image"/>
                  <div class="isotope-overlay">
                    <a [routerLink]="['../Home',{outlets:{liz:liz2.route}}]">
                      {{liz2.title}}
                    </a>
                  </div><!-- /.isotope-overlay -->
                </div><!-- /.item -->
                
              </div><!-- /.col -->
            
          </div>
          </div><!-- /.row -->
        </div><!--/.isotope-->
      </div><!--/.gallery-content-->
    </div><!--/.container-->
  </div><!--/.portfolio-details-->
  
</section><!--/.portfolio-->
<router-outlet name="liz"></router-outlet>
<router-outlet></router-outlet>






