<!--profiles start -->
<section id="profiles" class="profiles">
    <div class="profiles-details">
      <div class="section-heading text-center">
        <h2>profiles</h2>
      </div>
      <div class="container">
        <div class="profiles-content">
          <div class="row">
            <div *ngFor="let bacalaza of Redes.Social" class="col-sm-6">
              <div class="single-profile">
                <div class="profile-txt">
                  <a href={{bacalaza.url}}  target="_blank"><i class="{{bacalaza.iclass}}"></i></a>
                  <div class="profile-icon-name">{{bacalaza.name}}</div>
                </div>
                <div class="single-profile-overlay">
                  <div class="profile-txt">
                    <a href={{bacalaza.url}}  target="_blank"><i class="{{bacalaza.iclass}}"></i></a>
                    <div class="profile-icon-name">{{bacalaza.name}}</div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <div class="profile-border"></div>
          <div class="row">
           
              <div *ngFor="let bacalaza1 of Redes.Social1" class="col-sm-6">
                <div class="single-profile">
                  <div class="profile-txt">
                    <a href={{bacalaza1.url}}  target="_blank"><i class="{{bacalaza1.iclass}}"></i></a>
                    <div class="profile-icon-name">{{bacalaza1.name}}</div>
                  </div>
                  <div class="single-profile-overlay">
                    <div class="profile-txt">
                      <a href={{bacalaza1.url}}  target="_blank"><i class="{{bacalaza1.iclass}}"></i></a>
                      <div class="profile-icon-name">{{bacalaza1.name}}</div>
                    </div>
                  </div>
                </div>
              
           </div>
          </div>
        </div>
      </div>
    </div>
    
    </section><!--/.profiles-->
    <!--profiles end -->